//@forward 'carroussel';
html {
  box-sizing: border-box;
}
body {
  width: 100%;
  border: 0;
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

#navbar {
  position: sticky;
  display: inline-block;
  width: 72%;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgb(2, 0, 36) 0%,
    rgba(35, 223, 201, 0.8777965199) 35%,
    rgb(0, 212, 255) 100%
  );
  padding-left: 28%;
}
nav a {
  color: black;
  font-size: 24px;
  font-weight: 700;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  border-top: 10%;
  margin-left: 41px;
  float: left;
}
p {
  font-size: 14px;
  margin: 5%;
  font-family: Arial, Helvetica, sans-serif;
}
.text1 {
  margin-left: 40px;
  margin-right: 40px;
}
.h1,
h1 {
  padding: 41px;
  margin-top: -1em;
  line-height: 97px;
  text-align: center;
  margin-bottom: -5.5rem;
}
h2 {
  text-align: center;
  margin-top: 57px;
}
.top-info {
  text-align: center;
  padding: 5%;
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 300px;
  margin-left: 15%;
}

/* ----- carousel content stylings ----- */
/* places the carousel content on center of the carousel */
.carousel-content {
  position: absolute;
  /*to center the content horizontally and vertically*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 50;
}
.carousel-heading {
  font-size: 3rem;
  color: #2909df;
  margin-bottom: 1rem;
}
/*----- end of carousel content stylings ----- */

/* ----- slideshow stylings ----- */
.slideshow {
  overflow-x: hidden; /* to hide slides in x-direction */
  position: relative;
  height: 100%;
  width: 77em;
  left: 221px;
}
/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
  display: inline-flex;
  /* width as 400% to make a 4 image carousel. */
  width: 400%;
  height: 100%;
  position: relative;
  animation: slideshow 20s infinite;
}
/* define width and height for images*/
.slide {
  width: 100%;
  height: 100%;
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* @keyframes are used to provide animations
 We make these settings for 4 image carousel.
 Make modification according to your needs. */
/*@keyframes slideshow {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  45% {
    left: -300%;
  }
  55% {
    left: -300%;
  }
  60% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  90% {
    left: 0%;
  }
}
/* ----- end of slideshow stylings ----- */

/* ----- carousel control buttons stylings ----- */
.slide-btn {
  background-color: #bbb;
  border-radius: 50%;
  border: 0.2rem solid #2000d3;
  width: 1.2rem;
  height: 1.2rem;
  outline: none;
  cursor: pointer;
  /* stylings for positioning the buttons at
     the bottom of the carousel */
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 70;
}
/* As we provide position as absolute, 
the buttons places one over the other. 
So, we have to place them individually
at their correct positions. */
.slide-btn-1 {
  left: 45%;
}
.slide-btn-2 {
  left: 50%;
}
.slide-btn-3 {
  left: 55%;
}
.slide-btn-4 {
  left: 60%;
}
/* When we focus on the particular button, 
the animation stops to that particular image 
to which the button is associated. */
.slide-btn-1:focus ~ .slideshow-wrapper {
  animation: none;
  left: 0;
}
.slide-btn-2:focus ~ .slideshow-wrapper {
  animation: none;
  left: -100%;
}
.slide-btn-3:focus ~ .slideshow-wrapper {
  animation: none;
  left: -200%;
}
.slide-btn-4:focus ~ .slideshow-wrapper {
  animation: none;
  left: -300%;
}
/* when we focus on the button, the background color changes */
.slide-btn:focus {
  background-color: #1815db;
}
/* ----- end of carousel control buttons stylings ----- */
//images
.infoImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 280px;
  margin-left: 39%;
  object-fit: contain;
  border-radius: 40%;
}
.secInfo {
  border: solid;
  margin: 2px 0 40px 40px;
}

//main text
.flex-container {
  /*display: flex;
  flex-direction: inherit;
  align-items: center;
  flex-wrap: wrap;
  float: left;*/
  margin: 40px;
}
.flex-imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transform: scale(0.7, 0.7);
  margin: -129px;
}
.div-container:hover .switches {
  opacity: 0.3;
  transform: scale(1.5, 1.5);
}
.div-container:hover .middle {
  opacity: 1;
}
.div-container {
  position: relative;
}
.switches {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  background-color: #0a0238;
  color: rgb(248, 246, 246);
  font-size: 13px;
  padding: 30px 40px;
}
table {
  display: inline-block;
  position: relative;
  margin: 0.2em;
  top: 5em;
  /*transform: scale(0.7, 0.9);*/
  /*left: -70px;
  right: 0px;*/
}
.tableText {
  top: -4%;
  position: absolute;
  left: 25em;
  right: -45em;
  font-size: 18px;
}
.item1 {
  margin-bottom: 155px;
  position: relative;
  left: 1em;
  top: -66px;
}
.secSwitches {
  border: solid;
  margin-left: 79px;
  margin-right: 40px;
  margin-top: -36px;
  padding-bottom: 5em;
  margin-bottom: 40px;
}

//sizes
.secSizes {
  border: solid;
  margin-left: 79px;
  margin-right: 40px;
  margin-top: 8px;
  margin-bottom: 40px;
}

/* go to top btn*/
#myBtn {
  z-index: 99;
  /* display: none; */
  position: fixed;
  left: 95%;
  bottom: 7em;
  font-size: 11px;
  border: none;
  outline: none;
  background-color: #00d4ff;
  color: #1815db;
  cursor: pointer;
  padding: 0.937em;
  border-radius: 0.25em;
}

#myBtn:hover {
  background-color: rgb(146, 226, 247);
}

@media screen and (max-width: 900px) {
  nav a {
    font-size: 18px;
    margin-left: -6px;
    padding: 14px;
  }
  #navbar {
    position: relative;
    display: inline-block;
  }
  .h1,
  h1 {
    font-size: 25px;
    margin-top: -102px;
  }
  .slide-img {
    object-fit: contain;
    position: relative;
    left: -196px;
  }
  .slide-btn {
    margin-left: -212px;
  }
  .infoImg {
    margin-left: 29%;
  }
  .item1 {
    margin-bottom: 155px;
    position: relative;
    left: -2em;
    top: -148px;
    transform: scale(0.8);
  }
  .tableText {
    top: -5%;
    position: absolute;
    left: 34em;
    right: -21em;
    font-size: 10.5px;
  }
}
